body {
    font-family: "Century Gothic", sans-serif;
    background-color:white;
    color: #333;
    /* filter: invert(1); */
}
  /* Modal styling */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}.btn-success{
    background-color: #027cff;
    border: none;
}
img, svg {
    vertical-align: middle;
    filter: invert(1);
}

.btn-danger{
    background-color: #000000;
    border: none;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
}
form > label {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
}
form > button {
    /* margin-top: 10px; */
    margin-top: 13px;
    width: 125px;
    font-size: 17px;
    background-color: #6a6a6a;
    font-weight: 900;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
