/* General Body Style */
body {
    font-family: "Century Gothic", sans-serif;
    background-color: white;
    color: #333;
    /* filter: invert(1);  */
    margin: 0;
    padding: 0;
  }
  
/* Dashboard Grid Style */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    filter: invert(1);
}
/* Dashboard Card Style */
.dashboard-card {
    height: 173px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 9%;
    margin-right: 4%;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.dashboard-card h4 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: #333333;
}

.dashboard-card p {
    font-size: 1.6rem;
    font-weight: 700;
    color: #009688;
}

/* Progress Bars */
.progress-bar {
    width: 100%;
    background-color: #E0E0E0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.progress-bar div {
    height: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    background-color: #009688;
    border-radius: 10px;
}

/* Sidebar/Menu */
.w3-sidebar {
    width: 320px;
    background-color: #FFFFFF;
    color: #333333;
    border-right: 1px solid #E0E0E0;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

/* Button Hover Effect */
.w3-bar-item {
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.w3-bar-item:hover {
    background-color: #E0E0E0;
}

/* Header */
header {
    background-color: #009688;
    color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 991px) {
    .w3-main {
        margin-left: 0;
        padding: 20px;
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .w3-sidebar {
        width: 100%;
        box-shadow: none;
    }
}
