body {
    font-family: "Century Gothic", sans-serif;
   background-color: white;
    color: #333;
    /* filter: invert(1);  */
    margin: 0;
    padding: 0;
  }
  
  tr{
    background: #ffffff;
}

.pages-section {
    text-align: center;
    margin: 50px 0;
}

.pages-section h2 {
    font-size: 36px;
    color: #222;
    margin-bottom: 20px;
    letter-spacing: 1px;
}.btn-success{
    background-color: #027cff;
    border: none;
}

.btn-danger{
    background-color: #000000;
    border: none;
}


.img-fluid {
    max-width: 100%;
    height: auto;
    filter: invert(1);
}

.pages-section p {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.pages-divs {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.pages-divs > a {
    background-color: #1a73e8;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    width: auto;
    box-shadow: 0 10px 20px rgba(26, 115, 232, 0.3);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    overflow: hidden;
}

.pages-divs > a:hover {
    background-color: #004fc4;
    box-shadow: 0 15px 25px rgba(0, 79, 196, 0.4);
    transform: translateY(-5px);
}

.pages-divs > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(0);
    transition: transform 0.3s ease;
    border-radius: 30px;
}

.pages-divs > a:hover::before {
    transform: scale(1);
}

.sub-pages {
    display: none;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.sub-pages h3 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.sub-pages > a {
    background-color: #28A745;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    width: auto;
    box-shadow: 0 10px 20px rgba(40, 167, 69, 0.3);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    overflow: hidden;
}

.sub-pages > a:hover {
    background-color: #218838;
    box-shadow: 0 15px 25px rgba(33, 136, 56, 0.4);
    transform: translateY(-5px);
}

.sub-pages > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(0);
    transition: transform 0.3s ease;
    border-radius: 30px;
}

.sub-pages > a:hover::before {
    transform: scale(1);
}
