body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
    text-align: center;
    color: #333;
  }

  .container {
    padding: 50px 20px;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 8px;
  }
  .header-container {
    text-align: center;
    padding: 30px 0;
    background-color: #cea046;
    color: #fff;
  }

  .header-container h1 {
    font-size: 36px;
    font-family: "Century Gothic";
    margin: 0;
  }

  h3 {
    font-size: 24px;
    margin-top: 30px;

  font-family: "Century Gothic";
    color: #444;
  }

  p {
    line-height: 1.8;
    font-size: 15px;
    margin-top: 10px;
  font-family: "Century Gothic";
  }

  .section-title {
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    color: #555;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 28px;
          font-family: "Century Gothic";
    }

    h3 {
      font-size: 20px;
          font-family: "Century Gothic";
    }

    p {
      font-size: 14px;
          font-family: "Century Gothic";
    }

    .container {
      padding: 20px;
          font-family: "Century Gothic";
    }
    .mob-header > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-left: -40px; */
    text-align: start;
}
  }
