

/* HEADER CSS */
.socail-icons-header {
    text-align: end;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    display: flex;
}

  .socail-icons-header > .icon-div > a {
    font-size: 17px;
    color: #555;
    margin-right: 10px;
    transition: color 0.3s;
  }

  .socail-icons-header > .icon-div > a:hover {
    color: #000;
  }


.right-side-header{
    display: flex;
    gap: 10px;
  align-items: center;
  justify-content: start;
  height: 60px;
  }

  .right-side-header > span {
    height: 38px;
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
   background-color: #cea046;;
  }
  .first-span{
   margin-left: 30px;
  }
  .right-side-header > span > img {
    height: 18px;
    width: 18px;
    border: none;
    filter: invert(1);

  }


  .right-side-header > span > a {
    font-size: 14px;
    font-weight: 900;
    font-family: "Century Gothic";
    text-align: center;
    color: white;
    text-decoration: none;
  }


  .toggless{
    display: none;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 10px;
    background-color: #fff;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
}
.header-logo-section img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

  .header-navbar-section ul {
    list-style: none;
    display: flex;
    column-gap: 25px;
    height: 50px;
    margin-top: 13px;
    align-items: center;
}

  .header-navbar-section ul li a{
    font-size: 16px;
    font-family: "Century Gothic";
    font-weight: 500;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }

  .header-navbar-section ul li:hover {
    color: #007bff;
  }

  .header-additional-section a{
    color: #333;
    font-size: 20px;
    margin-left: 5px;
    transition: color 0.3s;
  }

  #menuu{
 display: none;
  }

  .header-additional-section a:hover {
    color: #d6d6d6;
  }
  .header-additional-section a > img {
    height: 22px;
    margin-top: -3px;
    width: 22px;

  }
  .header-additional-section a > img:hover {
    filter: invert(0.8);
  }

footer {
    background-color: #cea046;
    color: #fff;
    padding: 20px;
    font-size: 16px;
    margin-top: 50px;
    font-weight: 00;
}

.footer-top {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.footer-feature {
    width: 23%;
}

.footer-feature h4 {
    font-weight: 700;
}

.footer-feature p {
    font-weight: 300;
    margin-top: 5px;
    font-family: "Century Gothic";
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    background-color: #cea046;
    color: #fff;
}

.footer-column {
    width: 22%;
}

.footer-column h4 {
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-family: "Century Gothic";
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column input[type="email"] {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.footer-column .icon {
    font-size: 20px;
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.social-icons a .icon:hover {
    color: #007bff;
}

.footer-credits {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #333;
}

.footer-credits img {
    width: 50px;
    margin-bottom: 10px;
}

.footer-credits p {
    margin: 5px 0;
    font-weight: 600;
    font-family: "Century Gothic";
}

@media (max-width: 768px) {
    .footer-top,
    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-feature,
    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }.social-icons {
    margin-top: 8px;
    /* height: 42px; */
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.header-navbar-section{
    display: none;
}

#menuu{
  display: block;
   }


  .right-side-header {
    display: flex;
    gap: 2px;
}
.first-span{
    margin-left: 0px;
}
.right-side-header > span > img {
    height: 16px;
    width: 16px;
    border: none;
    filter: invert(1);
}
.right-side-header > span > a {
    font-size: 13px;
    font-weight: 900;
    font-family: "Century Gothic";
    text-align: center;
    color: white;
    text-decoration: none;
}
.icon-div {
  display: none;
}
.socail-icons-header {
  text-align: center;
  /* gap: 20px; */
  height: 50px;
  justify-content: end;
  align-items: center;
  padding: 3px;
  display: flex;
}
.cart-img-div {
  position: relative;
  width: 100%;
  height: 390px;
  display: flex;
  align-items: end;
  justify-content: end;
  overflow: hidden;
}


}
.social-icons{
    margin-top: 8px;
    /* height: 42px; */
    display: flex;
    align-items: center;
    gap: 16px;
}
.social-icons a {
    /* margin-right: 10px; */
    color: #fff;
    text-decoration: none;
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid;
}
.contasiner{
    display: flex;
    gap: 5px;
    align-items: center;
}
 .fa-envelope {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    display: flex;
    font-size: 19px;
    width: 40px;
    margin-top: 9px;
    height: 39px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid;
}
.mob-header > ul {
  display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -40px;
}

.mob-header > ul > li{
  list-style: none;
}

.mob-header > ul > li::after {
  content: '';
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 12px;
  background-color: #d3d3d3;
  height: 1px;
}


.mob-header > ul > li > a{
  font-size: 18px;
  color: black;
  font-family: "Century Gothic";
  text-decoration: none;
}

.socail-mob{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.socail-mob > span {
  width: 50%;
  border: 1px solid;
  display: flex;
  /* justify-content: space-between; */
  gap: 28px;
  padding: 20px;
  align-items: center;
}

.socail-mob > span > a {
  font-size: 25px;
  font-weight: 900;
  color: black;
  height: 100%;
}

.login-container{
  display: flex;
  justify-content: end;
  align-items: center;
}

.login-container > a {
  font-size: 14px;
  font-weight: 900;
  font-family: "Century Gothic";
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.login-container > hr {
  background: black;
  width: 30px;
  transform: rotate(90deg);
  height: 2px;
}

.login-containers {
  display: none;
}
.header-additional-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media( max-width: 768px ){

  .right-side-header{
    display: none;
  }

  .login-container{
    display: none;
  }

  .login-containers{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
  }

  .login-containers > a {
    font-size: 14px;
    font-weight: 900;
    font-family: "Century Gothic";
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  .login-containers > hr {
    background: black;
    width: 30px;
    transform: rotate(90deg);
    height: 2px;
  }
  .right-side-header > span{
    display: none;
  }
  .socail-icons-header
{
  justify-content: space-between;
}
}

#logout{
  border: none;
  background: none;
  font-size: 15px;
}
.cart-icon {
  position: relative;
}

.red-dot {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
