body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.contact-section {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header-container {
    text-align: center;
    padding: 30px 0;
    background-color: #cea046;
    color: #fff;
  }

  .header-container h1 {
    font-size: 36px;
    font-family: "Century Gothic";
    margin: 0;
  }

.contact-header p {
    font-size: 14px;
    margin-top: 15px;
    font-family: "Century Gothic";
}
#ddd{
    margin-bottom:30px;
    margin-top: -20px;
}
.contact-header h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: "Century Gothic";
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    transform: skew(-15deg);
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 8px;
    text-align: left;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    transform: skew(-15deg);
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
}

.send-btn {
    width: 50%;
    padding: 7px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    transform: skew(-15deg);
    background-color: #cea046;
    font-weight: 900;
    border: none;
    cursor: pointer;
}

.footer-text {
    font-size: 12px;
    color: #555;
    margin-top: 20px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    .contact-form h2 {
        font-size: 36px; /* Slightly reduce the heading size for tablets */
    }
    .send-btn {
        width: 70%; /* Increase the button width on tablets for better touch accessibility */
    }
}

@media (max-width: 600px) {
    .contact-section {
        width: 95%;
        padding: 10px;
    }
    .contact-form h2 {
        font-size: 28px;

          font-family: "Century Gothic";
          /* Further reduce the heading size for smaller screens */
    }
    .send-btn {
        width: 90%; /* Full width for the button on mobile */
        font-size: 18px;

          font-family: "Century Gothic";
           /* Adjust font size for smaller screens */
    }
    .contact-header h1 {
        font-size: 18px;
                  font-family: "Century Gothic";

        /* Adjust header font size for mobile */
    }
    .contact-header p {
        font-size: 12px;
                  font-family: "Century Gothic";
 /* Adjust paragraph font size for mobile */
    }
}
